<h1>Your Text Analysis</h1>

<h2>Number of Words: <%= @analyzed_text.text.split.size %></h2>

<h2>Vowels: <%= @analyzed_text.text.scan(/[aeoui]/).count %></h2>

<h2>Consonants: <%= @analyzed_text.text.split.scan(/[^aeiou]/i).count %></h2>

<h2>Most Common Letter: <%= @array.first %>  used <%= @array.last %> times</h2>
green eggs and ham
grn ggs nd hm
